# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# config.properties file
config.properties
# vs code
.vscode/
# Lib package
/src/Lib/
# .iml
conversor-monedas.iml
# out
/out/production/conversor-monedas/